
    <!-- nav bar -->
    <%- include('partials/includes/header') %>
    <%- include('partials/includes/navbar') %>


    <br /> <br /> <br /> <br />


   
        <!-- floating icons -->
        <%- include('components/floating_icons') %>
        
        <div id="user_model_details">
    
        </div>
       
        <!-- View all story-->
        <%- include('components/view_story') %>

    
            
        <%- include('components/chat_side_bar') %>

    <div class="container" style="padding-top:40px"><!-- main container starts-->

        <div class="row"><!-- main row starts -->

          <!-- ................................ Left side bar ............................... -->
        <% if (user.length > 0)
        { %>
          <div class="col-md-2"> <!-- col-md-2 starts-->

                <!-- for loop starts here -->
                <% user.forEach(function(item,  index)
                {%>
            <div class="card mb-3">
                    <div class="card-body">
                        <ul class="nav">
                                <li class="card-body">      

                                        <div class="row">
                                        <% if(item.user_profile_pic){ %>
                                                <img  src="../public/profile_image/<%= item.user_profile_pic %>" alt="profile image" class="rounded-circle border border-danger" style="width:100px; height:100px">
                                        <% } else { %>
                                                <img  src="../public/profile_image/icon.jpg" alt="profile image 1" class="rounded-circle border border-danger" style="width:100px; height:100px">
                                        <% } %>
                                
                                                <h6><%= item.user_firstname %> <%= item.user_lastname %></h6>
                                                <p>Love U Dear Zindgi</p>
                                        </div>                                                                           
                                </li>
                                <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Followers 100</li>
                                        <li class="list-group-item">Following 200</li>
                                </ul>
                        </ul>          
                    </div>

            </div>  
              <!--/sidebar-nav-fixed -->

              <div class="card mb-3">
                    <div class="card-body">
                            <ul class="nav list-group list-group-flush">
                                <li>      
                                    <h6>Dashboard</h6>
                                    <h6>New Group</h6>                    
                                </li>
                        </ul>          
                    </div>

            </div>

            <div class="card mb-3">
                    <div class="card-body">
                            <ul class="nav list-group list-group-flush">
                                <li> View More</li>
                        </ul>          
                    </div>

            </div>
            <%}); %> <!-- for loop ends here -->
              <!-- you can add one more side bar here -->
              <!-------------------------------------------------------------------------------------------------->
            </div> <!-- col-md-2 ends-->
        <%}<!-- if ends here -->
        else
        {%> 
                <!-- /////////////////////////////////////////////////////////////////////////////////////// -->
                <p> <strong>There are no recods available</strong></p>
        <%}%><!-- else ends here -->

          
            

            <!-- /////////////////////////////////////////////////////////////////////////////////////// -->
                                            <!-- adding main middle page -->

            <div class="col-md-6">

                <!-- create posts -->
                <%- include('components/create_posts') %>
                <hr> 
                <form>
                        <select class="form-control view_feeds_by">
                                <option selected>View Feeds By</option>
                                <option value="current_location">Current Location</option>
                                <option value="area">Area</option>
                                <option value="city">City</option>
                                <option value="state">State</option>
                                <option value="country">Country</option>
                        </select>
                    </form>      
                <hr> 

                <!-- Suggestions box -->
                
                <%- include('components/user_suggestion_box') %>
                
                
                <!-- user posts display-->
                <div id="view_feeds_by">
                <%- include('components/posts') %>
                </div>

            </div>

            <!-- /////////////////////////////////////////////////////////////////////////////////////// -->
                                            <!-- main middle page ends -->
            <!-- /////////////////////////////////////////////////////////////////////////////////////// -->

            <div class="col-md-4"> <!-- Right side bar -->
                
                <!-- find events display-->
                <%- include('components/find_events') %>

                <!-- display events options -->
                <%- include('components/display_events_options') %>

                <!-- recommend events for users -->
                <%- include('components/recommend_events_for_users') %>
                
               
                
            </div> <!-- Right side bar ends -->
            
            
            
            
    </div>

    
    
    <%- include('partials/includes/footer') %>
    <!-- this is api key for map (don't forget to remove this key after upload this project) -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2nPlSt_nM7PSKD8So8anbUbBYICFWcCA" async defer></script>
    


    