
    <!-- nav bar -->
    <%- include('partials/includes/header') %>
    <%- include('partials/includes/navbar') %>


    <br /> <br /> <br /> <br />


   

        
        <div id="user_model_details">
    
        </div>
       
        <!-- View all story-->
        <%- include('components/view_story') %>

    
            
        <%- include('components/chat_side_bar') %>

    <div class="container" style="padding-top:40px"><!-- main container starts-->

        <div class="row"><!-- main row starts -->

          <!-- ................................ Left side bar ............................... -->
        <% if (user.length > 0)
        { %>
          <div class="col-md-2"> <!-- col-md-2 starts-->

                <!-- for loop starts here -->
                <% user.forEach(function(item,  index)
                {%>
            <div class="card mb-3">
                   
                        <ul class="nav">
                                <li class="text-center">      

                                                <div class="card-body"> 
                                                          
                                                        <div class="card-img-overlay">

                                                        <% if(item.user_profile_pic){ %>
                                                                <img  src="../public/profile_image/<%= item.user_profile_pic %>" alt="profile image" class="rounded-circle border border-danger" style="width:100px; height:100px">
                                                        <% } else { %>
                                                                <img  src="../public/profile_image/icon.jpg" alt="profile image 1" class="rounded-circle border border-danger" style="width:100px; height:100px">
                                                        <% } %>
       
                                                        </div>
                                                        
                                                </div>
                                                                                                                                                           
                                </li>

                                <li class="text-center" style="margin-top:80px">
                                                <div class="card-body">
                                                        <h6><%= item.user_firstname %> <%= item.user_lastname %>
                                                        <hr>
                                                        <div class="socail_media">
                                                                <i class="fab fa-facebook"></i><i class="fab fa-instagram" style="margin-left:10px"></i><i class="fab fa-twitter" style="margin-left:10px"></i><i class="fab fa-pinterest" style="margin-left:10px"></i><i class="fab fa-linkedin" style="margin-left:10px"></i>
                                                        </div>
                                                        <hr>
                                                        <div class="row">
                                                                        <div class="col-6">
                                                                                        <small><span class="countFollowers" style="cursor: pointer"></span></small><br /><small style="font-size: 9px">Followers</small>
                                                                                        
                                                                        </div>
                                                                        <div class="col-6">
                                                                                        <small><span class="countFollowing" style="cursor: pointer"></span></small><br /><small style="font-size: 10px">Following</small>
                                                                        </div>
                                                                       
                                                                        
                                                                </div>
                                                        </div>
                                                        
                                </li>

                        </ul>          
                   

            </div>  
              <!--/sidebar-nav-fixed -->



            <div class="card mb-3">
                    <div class="card-body">
                            <ul class="nav list-group list-group-flush">
                                <li> View More</li>
                        </ul>          
                    </div>

            </div>
            <%}); %> <!-- for loop ends here -->
              <!-- you can add one more side bar here -->
              <!-------------------------------------------------------------------------------------------------->
            </div> <!-- col-md-2 ends-->
        <%}<!-- if ends here -->
        else
        {%> 
                <!-- /////////////////////////////////////////////////////////////////////////////////////// -->
                <p> <strong>There are no recods available</strong></p>
        <%}%><!-- else ends here -->

          
            

            <!-- /////////////////////////////////////////////////////////////////////////////////////// -->
                                            <!-- adding main middle page -->

            <div class="col-md-6">

                <!-- create posts -->
                <%- include('components/create_posts') %>
                <hr> 
                <form>
                        <select class="form-control view_feeds_by">
                                <option selected>View Feeds By</option>
                                <option value="current_location">Current Location</option>
                                <option value="area">Area</option>
                                <option value="city">City</option>
                                <option value="state">State</option>
                                <option value="country">Country</option>
                        </select>
                    </form>      
                <hr> 

                <!-- Suggestions box -->
                
                <%- include('components/user_suggestion_box') %>
                
                
                <!-- user posts display-->
                <div id="view_feeds_by">
                <%- include('components/posts') %>
                </div>

            </div>

            <!-- /////////////////////////////////////////////////////////////////////////////////////// -->
                                            <!-- main middle page ends -->
            <!-- /////////////////////////////////////////////////////////////////////////////////////// -->

            <div class="col-md-4"> <!-- Right side bar -->
                
                <!-- find events display-->
                <%- include('components/find_events') %>

                <!-- display events options -->
                <%- include('components/display_events_options') %>

                <!-- recommend events for users -->
                <%- include('components/recommend_events_for_users') %>
                
               
                
            </div> <!-- Right side bar ends -->
            
            
            
            
    </div>

    
    
    <%- include('partials/includes/footer') %>
    <!-- this is api key for map (don't forget to remove this key after upload this project) -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2nPlSt_nM7PSKD8So8anbUbBYICFWcCA" async defer></script>
    


    