
    <!-- nav bar -->
    <%- include('partials/includes/header') %>
    <%- include('partials/includes/navbar') %>


    <br /> <br /> <br /> <br />


   
        <!-- floating icons -->
        <%- include('components/floating_icons') %>
        
        <div id="user_model_details">
    
        </div>
       
        <!-- View all story-->
        <%- include('components/view_story') %>

    
            
        <%- include('components/chat_side_bar') %>

    <div class="container" style="padding-top:40px"><!-- main container starts-->

        <div class="row"><!-- main row starts -->

          <!-- ................................ Left side bar ............................... -->
        <% if (user.length > 0)
        { %>
          <div class="col-md-2"> <!-- col-md-2 starts-->

                <!-- for loop starts here -->
                <% user.forEach(function(item,  index)
                {%>
            <div class="card mb-3">
                    <div class="card-body">
                        <ul class="nav">
                                <li class="card-body">      

                                        <div class="row">
                                        <% if(item.user_profile_pic){ %>
                                                <img  src="../public/profile_image/<%= item.user_profile_pic %>" alt="profile image" class="rounded-circle border border-danger" style="width:100px; height:100px">
                                        <% } else { %>
                                                <img  src="../public/profile_image/icon.jpg" alt="profile image 1" class="rounded-circle border border-danger" style="width:100px; height:100px">
                                        <% } %>
                                
                                                <h6><%= item.user_firstname %> <%= item.user_lastname %></h6>
                                                <p>Love U Dear Zindgi</p>
                                        </div>                                                                           
                                </li>
                                <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Followers 100</li>
                                        <li class="list-group-item">Following 200</li>
                                </ul>
                        </ul>          
                    </div>

            </div>  
              <!--/sidebar-nav-fixed -->

              <div class="card mb-3">
                    <div class="card-body">
                            <ul class="nav list-group list-group-flush">
                                <li>      
                                    <h6>Dashboard</h6>
                                    <h6>New Group</h6>                    
                                </li>
                        </ul>          
                    </div>

            </div>

            <div class="card mb-3">
                    <div class="card-body">
                            <ul class="nav list-group list-group-flush">
                                <li> View More</li>
                        </ul>          
                    </div>

            </div>
            <%}); %> <!-- for loop ends here -->
              <!-- you can add one more side bar here -->
              <!-------------------------------------------------------------------------------------------------->
            </div> <!-- col-md-2 ends-->
        <%}<!-- if ends here -->
        else
        {%> 
                <!-- /////////////////////////////////////////////////////////////////////////////////////// -->
                <p> <strong>There are no recods available</strong></p>
        <%}%><!-- else ends here -->

          
            

            <!-- /////////////////////////////////////////////////////////////////////////////////////// -->
                                            <!-- adding main middle page -->

            <div class="col-md-6">

                <!-- create posts -->
                <%- include('components/create_posts') %>
                <hr> 
                <form>
                        <label>View Feeds By : </label>
                        <select class="view_feeds_by">
                                <option value="current_location">Current Location</option>
                                <option value="area">Area</option>
                                <option value="city">City</option>
                                <option value="state">State</option>
                                <option value="country">Country</option>
                        </select>
                    </form>

               
                      
                <hr> 

                <!-- Suggestions box -->
                
                <%- include('components/user_suggestion_box') %>
                
                
                <!-- user posts display-->
                <div id="view_feeds_by">
                <%- include('components/posts') %>
                </div>

            </div>

            <!-- /////////////////////////////////////////////////////////////////////////////////////// -->
                                            <!-- main middle page ends -->
            <!-- /////////////////////////////////////////////////////////////////////////////////////// -->

            <div class="col-md-4"> <!-- Right side bar -->
                
                <!-- find events display-->
                <%- include('components/find_events') %>

                <!-- display events options -->
                <%- include('components/display_events_options') %>

                <!-- recommend events for users -->
                <%- include('components/recommend_events_for_users') %>
                
               
                
            </div> <!-- Right side bar ends -->
            
            
            
            
    </div>

    
    
    <%- include('partials/includes/footer') %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2nPlSt_nM7PSKD8So8anbUbBYICFWcCA"
    async defer></script>

<script>
        function myFunction() {
  var dots = document.getElementById("dots");
  var moreText = document.getElementById("more");
  var btnText = document.getElementById("myBtn");

  if (dots.style.display === "none") {
    dots.style.display = "inline";
    btnText.innerHTML = "Read more"; 
    moreText.style.display = "none";
  } else {
    dots.style.display = "none";
    btnText.innerHTML = "Read less"; 
    moreText.style.display = "inline";
  }
}
    
$(document).ready(function() // main script starts
{
        // ...........................................................................  All METHODS  ....................................................................// 
        // set interval ...it will continouly update the latitude and longitude of user
        // setInterval(function()
        // {
        //         get_lat_and_lon();
        // }, 5000);

        // get latitude and longitude of user
        $("select.view_feeds_by").change(function()
        {
                var selected_option = $(this).children("option:selected").val();

                if (!navigator.geolocation) 
                {
                        console.log("Geolocation is not supported by your browser");
                } 
                else 
                {
                        
                        var common_name = "NA";
                        var status_got_data = false;
                        var flag_status_in = false;
                        navigator.geolocation.getCurrentPosition(function(position)
                        {
                                const latitude  = position.coords.latitude;
                                const longitude = position.coords.longitude;
                                var latlng = new google.maps.LatLng(latitude, longitude);
                                var geocoder = geocoder = new google.maps.Geocoder();
                                geocoder.geocode({ 'latLng': latlng }, function (results, status) 
                                {
                                       
                                        const address = results[1].address_components;
                                        console.log(address)
                                        if( selected_option == "area")
                                        {
                                                for( i = 0; i < address.length; i++)
                                                {
                                                        var arraydata = address[i].types; 

                                                        for(key in arraydata)
                                                        {     
                                                              //  alert(JSON.stringify(arraydata[key]));
                                                                if( (arraydata[key] == "sublocality_level_2") || (arraydata[key] == "sublocality_level_1") ) // area
                                                                {
                                                                        
                                                                       common_name = address[i].long_name; 
                                                                       flag_status_in = true;
                                                                        alert(common_name);
                                                                }
                                                                if(flag_status_in == true)
                                                                {
                                                                        status_got_data = true;
                                                                        flag_status_in = false;
                                                                        break;
                                                                }
                                                        }
                                                        if(status_got_data == true)
                                                        {
                                                                break;
                                                        }
                                                        
                                                }
                                                if(status_got_data == true)
                                                {
                                                        status_got_data = false;
                                                        view_feed_by_sort(latitude,longitude,common_name,selected_option);  // call function ajax for backend here;

                                                }
                                        }
                                        else if(selected_option == "city")
                                        {
                                                for( i = 0; i < address.length; i++)
                                                {
                                                        var arraydata = address[i].types; 

                                                        for(key in arraydata)
                                                        {     
                                                              //  alert(JSON.stringify(arraydata[key]));
                                                                if(arraydata[key] == "administrative_area_level_2") // city
                                                                {
                                                                        
                                                                       common_name = address[i].long_name; 
                                                                       flag_status_in = true;
                                                                        alert(common_name);
                                                                }
                                                                if(flag_status_in == true)
                                                                {
                                                                        status_got_data = true;
                                                                        flag_status_in = false;
                                                                        break;
                                                                }
                                                        }
                                                        if(status_got_data == true)
                                                        {
                                                                break;
                                                        }
                                                        
                                                }
                                                if(status_got_data == true)
                                                {
                                                        status_got_data = false;
                                                        view_feed_by_sort(latitude,longitude,common_name,selected_option);  // call function ajax for backend here;

                                                }
                                        }
                                        else if(selected_option == "state")
                                        {
                                                for( i = 0; i < address.length; i++)
                                                {
                                                        var arraydata = address[i].types; 

                                                        for(key in arraydata)
                                                        {     
                                                              //  alert(JSON.stringify(arraydata[key]));
                                                                if(arraydata[key] == "administrative_area_level_1") // state
                                                                {
                                                                        
                                                                       common_name = address[i].long_name; 
                                                                       flag_status_in = true;
                                                                        alert(common_name);
                                                                }
                                                                if(flag_status_in == true)
                                                                {
                                                                        status_got_data = true;
                                                                        flag_status_in = false;
                                                                        break;
                                                                }
                                                        }
                                                        if(status_got_data == true)
                                                        {
                                                                break;
                                                        }
                                                        
                                                }
                                                if(status_got_data == true)
                                                {
                                                        status_got_data = false;
                                                        view_feed_by_sort(latitude,longitude,common_name,selected_option);  // call function ajax for backend here;

                                                }
                                        }
                                        else if(selected_option == "country")
                                        {
                                                for( i = 0; i < address.length; i++)
                                                {
                                                        var arraydata = address[i].types; 

                                                        for(key in arraydata)
                                                        {     
                                                              //  alert(JSON.stringify(arraydata[key]));
                                                                if(arraydata[key] == "country") // country
                                                                {
                                                                        
                                                                       common_name = address[i].long_name; 
                                                                       flag_status_in = true;
                                                                        alert(common_name);
                                                                }
                                                                if(flag_status_in == true)
                                                                {
                                                                        status_got_data = true;
                                                                        flag_status_in = false;
                                                                        break;
                                                                }
                                                        }
                                                        if(status_got_data == true)
                                                        {
                                                                break;
                                                        }
                                                        
                                                }
                                                if(status_got_data == true)
                                                {
                                                        status_got_data = false;
                                                        view_feed_by_sort(latitude,longitude,common_name,selected_option);  // call function ajax for backend here;

                                                }

                                                
                                        }
                                        else
                                        { // selected_option == "current_location"
                                                alert("current location")
                                                view_feed_by_sort(latitude,longitude,common_name,selected_option);  // call function ajax for backend here;
                                        }


             
                                       
                                });



                        });
                }
                
        });

        function view_feed_by_sort(latitude,longitude,common_name,selected_option)
        {
                //var parent  = $(this)
                //parent.html(response.count)

                $.ajax(
                {
                        url:"/login/get_lat_and_lon",
                        method:"POST",
                        data:{latitude:latitude,longitude:longitude,common_name,selected_option},
                        success:function(response)
                        {     

                                if(response !='')
                                {
                                        var $view_feeds_by= document.getElementById("view_feeds_by");
                                        //$view_feeds_by.innerHTML = "";
                                        let innerHTML = ''

                                        const  post_data = response.feeds_data;
                                        for(var i=0, len = post_data.length; i < len; i++)
                                        {
                                                // alert(post_data[i].event_message);
                                                // alert(post_data[i].Likes.length);
                                                // alert(post_data[i].Comments.length);
                                                // alert(post_data[i].User.user_firstname);
                                                // alert("user data")
                                                // alert(response.user_data.user_email);
                                                
                                                innerHTML += `<div class="card mb-3">
                                                        <div class="row">
                                                                <div class="col-10" style="padding-left:50px;padding-top:20px">
                                                                        <div class="d-flex bd-highlight">`;
                                                                                if (post_data[i].User.user_profile_pic) 
                                                                                {
                                                                                        innerHTML += ` <div class="img_cont"> 
                                                                                        <img src="../public/profile_image/${post_data[i].User.user_profile_pic}" class="rounded-circle user_img"> 
                                                                                        </div> `
                                                                                } 
                                                                                else 
                                                                                {
                                                                                        innerHTML += ` <div class="img_cont"><img src="../public/profile_image/icon.jpg" class="rounded-circle user_img"></div> `
                                                                                }
                                                                innerHTML += ` <div class="user_info viewclick" data-view="${post_data[i].User.user_id}">${post_data[i].User.user_firstname} ${post_data[i].User.user_lastname}<br/>
                                                                                        <small><i class="far fa-clock"></i> 2 hrs ago</small><br/>
                                                                                        <small><a href="http://maps.google.com/?q=${post_data[i].event_latitude},${post_data[i].event_logitude}"><i class="fas fa-map-marker-alt"></i> Map</a></small>
                                                                                        <small style="padding-left:10px" id="show_location"></small>
                                                                                </div> 
                                                                        </div>
                                                                </div>
                                                        </div>
                                                </div>`;
                                                
                                        }
                                        $view_feeds_by.innerHTML = innerHTML;
                                  
                                
                               
                               
                                }
                        },
                        error: function(jqXHR, textStatus, errorThrown)
                                {
                                        console.log('jqXHR:');
                                        console.log(jqXHR);
                                        console.log('textStatus:');
                                        console.log(textStatus);
                                        console.log('errorThrown:');
                                        console.log(errorThrown);
                                        alert(errorThrown);
                        }
                });
              

        }

        // // read more hide and show option
        
        $(document).on('click','.hide_show',function()
        {
                var dots = document.getElementById("dots");
                var moreText = document.getElementById("more");
                var btnText = document.getElementById("myBtn");
                if (dots.style.display === "none") 
                {
                        dots.style.display = "inline";
                        btnText.innerHTML = "Read more"; 
                        moreText.style.display = "none";
                } 
                else 
                {
                        dots.style.display = "none";
                        btnText.innerHTML = "Read less"; 
                        moreText.style.display = "inline";
                }

        //         alert("clicked...")
        //         const btn_hide_show = $(this).data('btn_hide_show'); 
        //         var $btn_show  = $(this).data('btn_show');
        //         alert(btn_hide_show);
        //        // btn_hide_show.show();
        //         $btn_show.slideToggle('slow');
        });

        // Get all users from database (hint: for follow or unfollow) (display all user for suggestion to follow)
        var user_id = 0; 
        get_user_id();
        

        function get_user_id()
        {
                $.ajax(
                {
                        url:"/posts/user_id",
                        method:"GET",
                        success:function(response)
                        {       
                                if(response !='')
                                {
                                        user_id = Number(response)
                                        //alert(user_id)
                                        //return response;
                                }
                        },
                        error: function(jqXHR, textStatus, errorThrown)
                                {
                                        console.log('jqXHR:');
                                        console.log(jqXHR);
                                        console.log('textStatus:');
                                        console.log(textStatus);
                                        console.log('errorThrown:');
                                        console.log(errorThrown);
                                        alert(errorThrown);
                        }
                });
        }
                
        
        
        
        fetch_user(); // calling fetch_user() functin when page loads
        //fetch_user();
        function fetch_user()
        {
                const action = "fetch_user";
                //const user_id = $(this).attr("user_id");
                //alert(d)
                $.ajax(
                {
                        url:"/posts/get_user",
                        method:"GET",
                        success:function(response)
                        {       
                                if(response.length > 0)
                                {

                                        var suggestion_for_user = document.getElementById("slides")

                                       
                                        for (var i = 0, len = response.length; i < len; i++)
                                        {       var flag = false;
                                                var already_following = false; 
                                                var status =""
                                                let fullname = response[i].user_firstname + ' ' + response[i].user_lastname;
                                                let image = response[i].user_profile_pic 
                                                //alert(image)
                                                let userid = response[i].user_id;
                                                for(var j = 0, len_follow = response[i].Follows.length; j < len_follow; j++)
                                                {
                                                        //alert(len_follow)
                                                       
                                                       status =  response[i].Follows[j].status
                                                      // alert(status)
                                                       var receiver_id =  response[i].Follows[j].receiver_id
                                                       var follow_user_id = response[i].Follows[j].user_id
                                                       var follow_receiver_id = response[i].Follows[j].receiver_id
                                                       
                                                       if((status == "requested") && (user_id == follow_user_id)) // When I send request to someone then I must see "Requested"
                                                       {
                                                                status="Requested" // not working
                                                                already_following= true;
                                                                break;
                                                                //alert(status)
                                                       }
                                                       else if((status == "requested") && (user_id == follow_receiver_id)) // when someone else sends me request then 2 option "Accept" or "Decline"
                                                       {
                                                               status = "Accept"
                                                              // alert(status)
                                                       }
                                                       else if((status == "accept") && ((user_id == follow_receiver_id))) // when either one user accespts the request then show "Following" to both user
                                                       {
                                                               status = "Following"
                                                               already_following= true;
                                                               break;
                                                               //alert(status)
                                                       }
                                                       else // when non of the condition satisfy then show "Follow" or // When no status then show "Follow"
                                                       {
                                                               status = "Follow"
                                                
                                                       }
                                                       if((user_id == follow_receiver_id) && (status !=""))
                                                                                                            {
                                                               flag = true
                                                        suggestion_for_user.innerHTML =  suggestion_for_user.innerHTML + 
                        `<div class="card col-lg-4" data-user_id="${user_id}">
                                
                                <img src="../public/profile_image/${image}" alt="" class="rounded-circle border border-danger" style="width:60px; height:60px"/>
                                <p style="font-size:10px;"><strong>${fullname}</strong></p>
                                <button id="followbtn${userid}" data-action="${status}" data-sender_id="${userid}" class="btn-post mr-2 btn btn-dark followbtn" style="font-size:6px;" type="button">${status}</button>
                                <button class="btn-post mr-2 btn btn-success" style="font-size:6px;" type="button">message</button>
                                <a href="#"> <div id="viewprofile${userid}" class="card-footer bg-transparent">View Profile</div></a>
                        </div>`;

                                                       }
                                        
                                                }
                                                if(already_following != true)
                                                {
                                                        if(status == "") 
                                                {
                                                        if(flag != true)
                                                        {

                                                        
                                                                status = "Follow";
                                                                suggestion_for_user.innerHTML =  suggestion_for_user.innerHTML + 
                        `<div class="card col-lg-4" data-user_id="${user_id}">
                                
                                <img src="../public/profile_image/${image}" alt="" class="rounded-circle border border-danger" style="width:60px; height:60px"/>
                                <p style="font-size:10px;"><strong>${fullname}</strong></p>
                                <button id="followbtn${userid}" data-action="${status}" data-sender_id="${userid}" class="btn-post mr-2 btn btn-dark followbtn" style="font-size:6px;" type="button">${status}</button>
                                <button class="btn-post mr-2 btn btn-success" style="font-size:6px;" type="button">message</button>
                                <a href="#"> <div id="viewprofile${userid}" class="card-footer bg-transparent">View Profile</div></a>
                        </div>`;
                }
                                                }
                                                else{
                                                        if(flag != true)
                                                        {
                                                                
                                                        
                                                
                        suggestion_for_user.innerHTML =  suggestion_for_user.innerHTML + 
                        `<div class="card col-lg-4" data-user_id="${user_id}">
                                
                                <img src="../public/profile_image/${image}" alt="" class="rounded-circle border border-danger" style="width:60px; height:60px"/>
                                <p style="font-size:10px;"><strong>${fullname}</strong></p>
                                <button id="followbtn${userid}" data-action="${status}" data-sender_id="${userid}" class="btn-post mr-2 btn btn-dark followbtn" style="font-size:6px;" type="button">${status}</button>
                                <button class="btn-post mr-2 btn btn-success" style="font-size:6px;" type="button">message</button>
                                <a href="#"> <div id="viewprofile${userid}" class="card-footer bg-transparent">View Profile</div></a>
                        </div>`;
                }
                }
                                                }

       // suggestion_for_user.innerHTML =  suggestion_for_user.innerHTML + `<div class="jumbotron"><p class="lead">${fullname}</p><p>${userid}</p><p>${status}</p></div>`;
                                                
                                                
                                        }
                         
                                }
                        },
                        error: function(jqXHR, textStatus, errorThrown)
                                {
                                        console.log('jqXHR:');
                                        console.log(jqXHR);
                                        console.log('textStatus:');
                                        console.log(textStatus);
                                        console.log('errorThrown:');
                                        console.log(errorThrown);
                                        alert(errorThrown);
                               }
                });
                

        }// fetch_user() .........ends


        // follow a  user
        $(document).on('click', '.followbtn', function()
        {

                var sender_id =$(this).data('sender_id'); // get user_id to whom you want to send request
                var action = $(this).data('action') // status ..what you want to do follow or unfollow /follow,requested/following(accept)
                
                
                var parent  = $(this)
                $.ajax({
                                url:"/posts/follow",
                                method:"POST",
                                data:{sender_id:sender_id,action:action},
                                success:function(response)
                                {
                                        if((response.msg == "accept") && (response.success == true)) // user has accept the request
                                        {
                                                alert("You have accepted the request")
                                                
                                                action = "Following"
                                                $('#followbtn'+sender_id).html(action);
                                               
                                               //$('#followbtn'+sender_id).html('<button data-action="'+action+'" data-sender_id="'+sender_id+'" class="btn-post mr-2 btn btn-dark followbtn" style="font-size:6px;" type="button">'+action+'</button>')
                                        }
                                        else if((response.msg == "requested") && (response.success == true)) // request has been sent to the user
                                        {
                                                //parent.html(<button data-action="${status}" data-sender_id="${userid}" class="btn-post mr-2 btn btn-dark followbtn" style="font-size:6px;" type="button">Requested</button>)
                                                alert("requested")
                                        }
                                        else{
                                                if((response.msg) && (response.success == true))
                                                {
                                                        alert(response.msg)
                                                }
                                        }
                                        
                        
                                
                                        
                                        
                                },
                                error: function(jqXHR, textStatus, errorThrown)
                                {
                                        console.log('jqXHR:');
                                        console.log(jqXHR);
                                        console.log('textStatus:');
                                        console.log(textStatus);
                                        console.log('errorThrown:');
                                        console.log(errorThrown);
                                        alert(errorThrown);
                               } 
                        })
                
        }); // follow a user ends


        
        // like post section
        $('.like').on('click', function(events)
        {
                event.preventDefault();
                event.stopPropagation();
                
                var postId = $(this).attr('data-post');
                var postId = parseInt(postId,10)
                //var parent  = $(this)
                //parent.html(response.count)
                $.ajax(
                        {
                                type: 'POST',
                                url:  '/posts/like/' + $(this).attr('data-post'),
                                contentType: "application/json", 
                                //data: JSON.stringify(data),
                                success : function(response)
                                {
                                        
                                        if(response == false)
                                        {
                                                alert("You have already liked this post")
                                        }
                                        else 
                                        {
                                                //parent.html(response.count)
                                                $('#countLikes'+postId).html(response.count);
                                        }
                                                
                                
                                },
                                error : function()
                                {
                                        alert('error from server');
                                }
                        }
                );
        })// like post ends 

        // on comment button clicked view all comments for particular post
        $(document).on('click', '.post_comment', function()
        {
                var post_id = $(this).attr('id')
                var action = 'fetch_all_comment';
                $.ajax(
                {
                        url:"/posts/fetch_add_comment",
                        method:"POST",
                        data:{post_id:post_id,action:action},
                        success:function(response)
                        {
                                let old_comment = document.getElementById("old_comment"+post_id)
                                old_comment.innerHTML = ""; // make it null first then populate data again
                                for (var i = 0, len = response.length; i < len; i++)
                                {    // alert(response.length);
                                        var comment_data = response[i].comment;
                                        var comment_time = response[i].createdAt;
                                       // alert(comment_data);
                                        //alert(comment_time);  
                                       // alert(response[i].User.length);
                                        //alert(response[i].User.user_profile_pic);
                                        var user_image = response[i].User.user_profile_pic;
                                        
                                        
                                        old_comment.innerHTML =  old_comment.innerHTML + '<div class="row"><div class="col-1"><a href=""><img class="rounded-circle" src="../public/profile_image/'+user_image+'" alt="error" class="rounded-circle border border-danger" style="width:40px; height:40px"></a></div><div class="col-11"><p>'+comment_data+' <br/><small>'+comment_time+'</small></p></div></div><hr>';

                                       
                                        
                                }
                                // response.forEach(function(item, index)
                                // { 
                                        // var comment_data = item.comment
                                       
                                        // old_comment.innerHTML =  old_comment.innerHTML + '<div class="row"><div class="col-2"><a href=""><img class="rounded-circle" src="http://www.themashabrand.com/templates/bootsnipp/post/assets/img/users/6.jpg" alt="error" class="rounded-circle border border-danger" style="width:30px; height:30px"></a></div><div class="col-10"><p>'+comment_data+' <br/><small>5hr</small></p></div></div><hr>';
                                       
                                // })
                                        // document.getElementById("demo").innerHTML += '<br>' + employee.name;
                                $("#old_comment"+post_id).slideToggle('slow'); 
                                              
                        }

                
                });
        });

        
        // submit comment to server
        $(document).on('click', '.submit_comment', function()
        {
                var post_id = $(this).attr('data-po')
                var comment = $('#comment'+post_id).val();
                var action = 'submit_comment';
                        
                if(comment !='')
                {
                        $.ajax({
                                url:"/posts/add_comment",
                                method:"POST",
                                data:{post_id:post_id,comment:comment,action:action},
                                success:function(data)
                                {
                                        if(data == "success")
                                        {
                                                document.getElementById("comment"+post_id).value=""
                                                //$('#comment_form'+post_id).slideUp('slow');
                                        }
                                        
                                },
                                error: function(jqXHR, textStatus, errorThrown)
                                {
                                        console.log('jqXHR:');
                                        console.log(jqXHR);
                                        console.log('textStatus:');
                                        console.log(textStatus);
                                        console.log('errorThrown:');
                                        console.log(errorThrown);
                                        alert(errorThrown);
                               } 
                        })
                }
                else{
                        alert("comment connot be empty");
                }

               
        });
    
        $(document).on('click','.viewclick' ,function()
        {
                var view =$(this).data('view');
                // ajax call
                // pass user_id
               // alert(view)
                $.ajax({
                        url:"/viewprofile/" + view,
                        method: "GET",
                        success:function(response)
                        {
                               // alert("view profile");
                                window.location.assign('viewprofile/'+view);
                        },
                        error:function(jqXHR, textStatus, errorThrown)
                        {
                                console.log('jqXHR:');
                                console.log(jqXHR);
                                console.log('textStatus:');
                                console.log(textStatus);
                                console.log('errorThrown:');
                                console.log(errorThrown);
                                alert(errorThrown);
                        }
                })
        });

}); // main script ends
</script>