<br /> <br /> <br /> <br /> <br />
<%- include('partials/includes/header') %>
<%- include('partials/includes/navbar') %>
<div class="container">
        
       
                <%- include('components/chat_side_bar') %>
        <div class="row">
                <div class="col-3">
                                <div class="row">
                                                <div class="card">
                                                                <ul class="nav">
                                                                        <li class="card-body">    
                                                                                <div class="row">  
                                                                                <img  src="../public/image/9b48e-lt.jpg" alt="Card image cap" class="img-fluid rounded" style="height: 200px;">    
                                                                               
                                                                                <h5 class="card-title">Sonu Shahuji</h5>
                                                                                <p class="card-text">This is a wider card with supporting text below as a.</p>
                                                                                
                                                                        </div>
                                                                        </li>
                                                                        
                                                                        
                                                                </ul>
                                                        
                                                                   
                                                        
                                                            
                                                </div>   
                                                <div class="row"style="margin-left:1px; margin-top:20px">
                                                                <div class="card text-center" style="padding:10px">
                                                                                <div class="card-title bg-transparent">Followers 10K</div>
                                                                </div>
                                                                <div class="card text-center" style="padding:10px;margin-left:3px">
                                                                                <div class="card-title bg-transparent">Following 110K</div>   
                                                                </div>
                                                               
                                                        </div>     

                                </div>
                                <div class="row">
                                                <div class="card" style="background:#ffffff;margin-top:30px">
                                                                <div class="card about-user">
                                                                         <div class="card-body">
                                                                          <div class="card-block">
                                                                               <h4 class="card-title info">About</h4>
                                                                               <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                                                                   <div class="text-left">
                                                                    <p class="card-text"><strong>Full Name :</strong> <span class="m-l-15">Amanda Taylor</span></p>
                                                                    <p class="card-text"><strong>Mobile :</strong><span class="m-l-15">(+12) 334 5555 723</span></p>
                                                                    <p class="card-text"><strong>Website :</strong> <span class="m-l-15">www.themashabrand.com</span></p>
                                                                    <p class="card-text"><strong>Location :</strong> <span class="m-l-15">USA</span></p>
                                                                   </div>			
                                                                          </div>
                                                                         </div>
                                                                </div>	                        
                                                </div>
                                </div>
                        

                </div>

                <div class="col-9" >
                                
                            
                                       <!-- chart section -->

                                                <div class="card">
                                                                <div class="card" id="heap_map_chart"></div>
                                                                
                                                                <div class="card">
                                                                        <div class="card-body">
                                                                                <ul class="nav justify-content-center">
                                                                                                <li class="nav-item">
                                                                                                <a class="nav-link" href="#">Upcoming</a>
                                                                                                </li>
                                                                                                <li class="nav-item">
                                                                                                  <a class="nav-link" href="#">Activ</a>
                                                                                                </li>
                                                                                                <li class="nav-item">
                                                                                                  <a class="nav-link" href="#">Previous</a>
                                                                                                </li>
                                                                                                <li class="nav-item">
                                                                                                                <a class="nav-link" href="#">Total Events</a>
                                                                                                </li>
                                                                                                <li class="nav-item">
                                                                                                <a class="nav-link" href="#">Followers</a>
                                                                                                </li>
                                                                                                <li class="nav-item">
                                                                                                  <a class="nav-link" href="#">Following</a>
                                                                                                </li>
                                                                                                <li class="nav-item">
                                                                                                  <a class="nav-link" href="#">Profile View</a>
                                                                                                </li>
                                                                                                <li class="nav-item">
                                                                                                  <a class="nav-link disabled" href="#">Disabled</a>
                                                                                                </li>
                                                                                              </ul>
                                                                        </div>
                                                                </div>
                                                                 
                                                </div>

                                                

                                                   <!-- create posts -->
                                                <div class="card" style="margin-top:30px">
                                                                <div class="card-body">
                                        
                                                                <a href="#"><img src="../public/image/1.jpg" alt="" class="rounded-circle border border-danger" style="width:50px; height:50px"></a>
                                                   
                                                                <a href="#"><button class="btn btn-light" style="position: absolute;right:150px;">Create Event</button></a>
                                                                <a href="#"><button class="btn btn-dark" style="position: absolute;right:5px;">Create Video</button></a>
                                                                
                            
                                  
                                                                </div>
                                                </div>
                                               

                                                <!--------------------->

                                                <!-- Modal -->

                                                              <!-- Modal: modalQuickView -->
                                                              <div class="modal fade" id="modalQuickView" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                                                aria-hidden="true">
                                                                <div class="modal-dialog modal-lg" role="document">
                                                                  <div class="modal-content">
                                                                    <div class="modal-body">
                                                                      <div class="row" id="show_data">

                                                                      </div>
                                                                    </div>
                                                                  </div>
                                                                </div>
                                                              </div>
                                                <!--------------------------->

                                                <div class="card" style="margin-top:30px">
                                                                <% if(items.length > 0){ %>   
                                                                        <% for(var i = 0, len = items.length; i < len; i++){%>
                                                                        <% var post_data = items[i].Posts; %> 
                                                                        <h5 class="card-header">Up Coming Events</h5>
                                                                <div class="card-group" style="margin-right: 15px" id="owl-demo">  
                                                                                       
                
                                                                        
                                                                        <% for (var j = 0, len_1 = post_data.length; j < len_1; j++) {%> 
                                                                        
                                                                        <% if(post_data[j].event_start_date > onlyDate){%>
                                                                               
                                                                        <%}%>
                                                                        <div class="card postfullview" data-onclickview="<%= post_data[j].event_id %>">
                                                                                    
                                                                        <div class="item"><img src="../public/image/<%=post_data[j].e_imagepath %>" alt="Owl Image" style="width: 400px; height:200px"></div> 
                                                                        <div class="card-footer bg-transparent border-success">
                                                                                        <ul class="nav">
                                                                                                <li class="nav-item">
                                                                                                        <span class="like" data-post="<%= post_data[j].event_id %>"><i class="fas fa-thumbs-up" style="cursor: pointer;">
                                                                                                                <span class="countLikes" id="countLikes<%= post_data[j].event_id %>" style="padding:2px"><%= post_data[j].Likes.length %></span></i></span>
                                                                                                </li>
                                                                                
                                                                                                <li class="nav-item" style="padding-left: 10px">
                                                                                                        <span class="post_comment" id="<%= post_data[j].event_id %>"><i class="fas fa-comments" style="cursor: pointer;">
                                                                                                                <span class="countComments" style="padding:2px"><%= post_data[j].Comments.length %></span></i>
                                                                                                        </span>
                                                                                                </li>
                                                                                
                                                                                                <li class="nav-item" style="padding-left: 10px">
                                                                                                        <i class="fas fa-share" style="cursor: pointer;"></i>
                                                                                                </li>
                                                    
                                                                                                <li class="nav-item" style="padding-left: 10px">
                                                                                                        <span style="cursor: pointer;">Read More</span>
                                                                                                </li>
                                                    
                                                                                                <li class="nav-item" style="padding-left:20px">
                                                                                                        <i class="fas fa-ellipsis-v" style="cursor: pointer;"></i>
                                                                                                </li>
                                                                                        </ul>
                                                                                        </div>
                                                                        </div>
                                                                        <%}%> 
                                                              
                                                 
                                        
                                                                       
                                                                        <%}%> 
                                                                        <%} else {%>
                                                                                <span>No Upcoming events yet</span>
                                                                        <%}%>    
                                                                </div>
                                                </div>
                                     
                        
                </div>
                
        </div>

</div>


<script>

$(document).ready(function() 
{
        $("#owl-demo").owlCarousel(
        {

                autoPlay: 3000, //Set AutoPlay to 3 seconds
                touchDrag:true,
                items : 3,
                dots:true,
                autoplayHoverPause:true,
                animateOut:true,
                itemsDesktop : [1199,3],
                itemsDesktopSmall : [979,3]

        });
  

                // when user likes the post then it increaments by one and update the database and reflects the likes on posts
                $(document).on('click', '.like', function(events)
                {
                        alert("clicked")
                        events.preventDefault();
                        events.stopPropagation();
                        var postId = $(this).attr('data-post');
                        var postId = parseInt(postId,10)

                        $.ajax(
                                {
                                        type: 'POST',
                                        url:  '/posts/like/' + $(this).attr('data-post'),
                                        contentType: "application/json", 
                
                                        success : function(response)
                                        {
                                                
                                                if(response == false)
                                                {
                                                        alert("You have already liked this post")
                                                }
                                                else 
                                                {
                                                        $('#countLikes'+postId).html(response.count);
                                                }
                                                        
                                        
                                        },
                                        error : function()
                                        {
                                                alert('error from server');
                                        }
                                }
                        );
                })// like post ends 
                
                $(document).on('click','.postfullview',function(events)
                {
                        alert("full view")
                        events.preventDefault();
                        events.stopPropagation();
                        var event_id =$(this).data('onclickview'); 
                        var $chat_history= document.getElementById("show_data");
                        $chat_history.innerHTML = "";
                        var innerHTML = ''


                        // $('.modal').load('/render/62805',function(result) show_data
                        // {
                        //         $('#basicExampleModal').modal({show:true});
                        // });

                        $.ajax(
                                {
                                        url:  '/profile/modeldata', 
                                        type: 'POST',
                                        data:{event_id:event_id},

                
                                        success : function(response)
                                        {
                                                if(response !="")
                                                {
                                                        alert(JSON.stringify(response.user[0].user_firstname));
                                                        for(var i=0, len = response.event_details.length; i < len; i++)
                                                        {

                                                        //alert(response.event_details[i].event_id);
                                                                
                                                        //alert(response.event_details[i].Likes.length);
                                                        innerHTML = `<div class="col-7" style="padding-left:50px;padding-top:20px"><div class="row">
                                                                        <div class="d-flex bd-highlight">`;
                                                                                if (response.user[i].user_profile_pic) 
                                                                                {
                                                                                        innerHTML += ` <div class="img_cont"> 
                                                                                        <img src="../public/profile_image/${response.user[i].user_profile_pic}" class="rounded-circle user_img"> 
                                                                                        </div> `
                                                                                } 
                                                                                else 
                                                                                {
                                                                                        innerHTML += ` <div class="img_cont"><img src="../public/profile_image/icon.jpg" class="rounded-circle user_img"></div> `
                                                                                }
                                                                innerHTML += ` <div class="user_info viewclick" data-view="${response.user[i].user_id}">${response.user[i].user_firstname} ${response.user[i].user_lastname}<br/>
                                                                                        <small><i class="far fa-clock"></i> 2 hrs ago</small><br/>
                                                                                        <small><a href="http://maps.google.com/?q=${response.event_details[i].event_latitude},${response.event_details[i].event_logitude}"><i class="fas fa-map-marker-alt"></i> Map</a></small>
                                                                                        <small style="padding-left:10px" id="show_location"></small>
                                                                                </div> 
                                                                        </div></div>

                                                                        <div class="row">
                                                                                        <div class="container" style="margin-left:20px;margin-right:20px;margin-top:5px">
                               
                                                                                                <p>${response.event_details[i].event_description}<span id="dots">...</span><span id="more" style="display: none;">${response.event_details[i].event_read_more_option}</span>
                                                                                                <span data-btn_hide_show="${response.event_details[i].event_id}" class="hide_show" id="myBtn" style="cursor: pointer;color:cornflowerblue">Read more</span>
                                                                                                </p>
                                                                                        </div>
                                                                        </div>

                                                                        <ul class="nav">
                                                                                <li>
                                                                                        <a href="/post/${response.event_details[i].event_id}">
                                                                                        <img src="../public/image/${response.event_details[i].e_imagepath}" alt="error check >" class="img-fluid">
                                                                                        </a>
                                                                                
                                                                                </li>
                                                                        </ul>`;

                                          innerHTML += `<div class="container">
                                                                <div class="row">
                                                                        <div class="col-md-6 like" style="padding-top:10px" data-post="${response.event_details[i].event_id}">
                                                                                <a href=""><i class="fas fa-thumbs-up"></i></a>
                                       
                                                                                <span class="countLikes" id="countLikes${response.event_details[i].event_id}" style="cursor: pointer;"> ${response.event_details[i].Likes.length} Like</span>
                                
                                                                        </div>`;

                                                  innerHTML += `        <div class="col-md-4 post_comment" id="${response.event_details[i].event_id}" style="padding-top:10px">
                                                                                <i class="fas fa-comments" style="cursor: pointer;"></i>
                                                                                <span class="countComments" style="cursor: pointer;"> ${response.event_details[i].Comments.length} comments</span>
                                                                        
                                                                        </div>

                                                                        <div class="col-md-2" style="padding-top:10px">
                                                                                        <i class="fas fa-share"></i>
                                                                                        <span>share</span>
                                                                        
                                                                        </div>

                                                                </div>
                                                        </div>

                                                                </div>`;
                                                                var comments_data = response.event_details[i].Comments.length;
                                                                //alert(comments_data)
                                                                innerHTML += `<div class="col-5">`;
                                                                        
                                                                        
                                                                for(var j=0, len_comment = comments_data; j < len_comment; j++)
                                                                {
                                                                        innerHTML += `<div class="row"><div class="col-1"><a href=""><img class="rounded-circle" src="../public/profile_image/${response.event_details[i].Comments[j].User.user_profile_pic}" alt="error" class="rounded-circle border border-danger" style="width:40px; height:40px"></a></div><div class="col-11"><p>${response.event_details[i].Comments[j].comment} <br/><small>${response.event_details[i].Comments[j].createdAt}</small></p></div></div><hr>`;

                                               

                                                                //alert(response.event_details[i].Comments[j].comment_id);
                                                                
                                                                //alert(response.event_details[i].Comments[j].User.user_firstname);
                                                                }

                                                                innerHTML += ` 
                                                                
                                                                <div class="container">
                                                                                        <div class="row">`;
                                                                                                
                                                                                                if(response.user[i].user_profile_pic)
                                                                                                {
                                                                                                        innerHTML += `<div class="col-md-2" style="padding-top:10px">
                                                                                                                        <a href=""><img class="rounded-circle" src="../public/profile_image/${response.user[i].user_profile_pic}" alt="error" class="rounded-circle border border-danger" style="width:40px; height:40px"></a>
                                                                                                                </div>`
                                                                                                }
                                                                                                else 
                                                                                                { 
                                                                                                        innerHTML += `<div class="col-md-2" style="padding-top:10px">
                                                                                                                        <a href=""><img class="rounded-circle" src="../public/profile_image/icon.jpg" alt="error" class="rounded-circle border border-danger" style="width:40px; height:40px"></a>
                                                                                                                </div>`
                                                                                                }
                                                                                                
                                                                                                innerHTML += `  <div class="col-md-7">
                                                                                                                        <div class="form-group" id="comment_form${response.event_details[i].event_id}">
                                                                                                                                <input class="form-control" name="comment" type="text" placeholder="Your comments" id="comment${response.event_details[i].event_id}"/>
                                                                                                                        </div>
                                                                                                                </div>

                                                                                                                <div class="col-md-3" style="padding-top:10px">
                                                                                                                        <button type="button" data-po="${response.event_details[i].event_id}" name="submit_comment" class="btn btn-default submit_comment">comment</button>
                                                                                                                </div>
                                                                                        </div>
                                                                                        

                                                                                        <div class="container" id="old_comment${response.event_details[i].event_id}">
                                                                                                

                                                                                        </div>
                                                                                                
                                                                                                
                                                                                        

                                                                                </div>
                                                                </div>`;
                                                                $chat_history.innerHTML = innerHTML;    
                                                                $('#modalQuickView').modal('show');

                                                        }
                                                }
                                                else{
                                                        alert("data null from modeldata")
                                                }

                                                
                                                
                                                // innerHTML = `<div class="col-8><div class="card"><img src="../public/image/1.jpg" class="rounded-circle user_img"> </div></div>`;
                                                // innerHTML += `<div class="col-4"> <img src="../public/image/9.jpg"></div>`;
                                                // $chat_history.innerHTML = innerHTML;
                                                // $('#modalQuickView').modal('show');
                                        },
                                        error:function(jqXHR, textStatus, errorThrown)
                        {
                                console.log('jqXHR:');
                                console.log(jqXHR);
                                console.log('textStatus:');
                                console.log(textStatus);
                                console.log('errorThrown:');
                                console.log(errorThrown);
                                alert(errorThrown);
                        }
                                }
                        );

                })
    requestData(); // calling function on page load
    function requestData()
    {
        $.ajax(
        {
            url: '/profile/heap_map_data',
            type: 'GET',
            success: function(response) 
            {
    
                var chart_data = [];
                var data = 1;
                var dataExists;
                
                var k = 0;
                for(var i = 0, len = response.length; i < len; i++)
                {
                    date_value = response[i].event_start_date;
                    var d = new Date(date_value);   
                    var year = d.getFullYear();
                    var month = d.getMonth();
                    var day = d.getDay();
                    var actualDay = day -1;
                   // check 1st in chart data, weather data exists or not
                   // if exits then increatment by 1
                   // not then put 1
                    
                    chart_data.push([month,actualDay,data]);
                }
                //alert(chart_data[1]);
                console.log(chart_data[1]);
                console.log("chart_data ==",chart_data);
                

                Highcharts.chart('heap_map_chart', 
                {

                        chart: {
                            type: 'heatmap',
                            marginTop: 40,
                            marginBottom: 80,
                            plotBorderWidth: 1,
                            
                        },


                        title: {
                            text: 'Project Details'
                        },

                        xAxis: {
                            categories: ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']
                        },

                        yAxis: {
                            categories: ['Mon','Tue','Wed','Thur','Fri','Sat','Sun'],
                            title: null
                        },

                        

                        colorAxis: {
                            min: 0,
                            minColor: '#FFFFFF',
                            maxColor: Highcharts.getOptions().colors[0]
                        },

                        legend: {
                            align: 'right',
                            layout: 'vertical',
                            margin: 0,
                            verticalAlign: 'top',
                            y: 25,
                            symbolHeight: 280
                        },

                        tooltip: {
                            formatter: function () 
                            {
                                return  + this.point.value + ' <b> project was uploaded on ' + this.series.xAxis.categories[this.point.x] + ' date, 2019' + '<br /> click to view more' ;
                            }
                        },

                        plotOptions: 
                        {
                                series: 
                                {
                                    cursor: 'pointer',
                                    point: 
                                    {
                                        events: 
                                        {
                                            click: function () 
                                            {

                                                var year = 2019;
                                                var month = this.x;
                                                var y_axis_day = this.y;

                                                $.ajax(
                                                    {
                                                        url: '/profile/heap_map_event_details',
                                                        type: "POST",
                                                        data: {year:year,month:month},
                                                        success: function (response) 
                                                        {
                                                                
                                                                var $message_list= document.getElementById("moreInfo");
                                                                $message_list.innerHTML = '';
                                                                for(var i = 0, len = response.length; i < len; i++)
                                                                {

                                                                    var date = new Date(response[i].event_start_date);   
                                                                    var day = date.getDay();
                                                                    var actualDay = day -1;
                                                                    actualDay = Number(actualDay)
                                                                    
                                                                    if(y_axis_day == actualDay)
                                                                    {
                                                                        $message_list.innerHTML = $message_list.innerHTML + `<div class="card online_user" ><li class="list-group-item link-class" style="cursor: pointer;"> <div class="d-flex bd-highlight"> <div class="img_cont"><img src="../public/image/${response[i].e_imagepath}" class="rounded-circle user_img"><span class="online_icon offline"></span> </div><div class="user_info">${response[i].event_name}}<br/><small style="color:#F44336"><strong>${response[i].event_start_date} message</strong></small><br/><small>Last seen <small>${response[i].event_end_date}</small></small></div> </div> </li></div>`;
                                                                    }
                                                                    
                                                                    
                                                                   
                                                                    
                                                                }
                                                        },
                                                        error : function(jqXHR, textStatus, errorThrown)
                                                        {
                                                            console.log('jqXHR:');
                                                            console.log(jqXHR);
                                                            console.log('textStatus:');
                                                            console.log(textStatus);
                                                            console.log('errorThrown:');
                                                            console.log(errorThrown);
                                                            alert(errorThrown);                            
                                                        } 
                                                    });

                                            }
                                        }
                                    }
                                }
                            },

                        series: [
                            {

                            data: chart_data,
                            borderWidth: 1,
                           
                            dataLabels: {
                                enabled: true,
                                color: '#000000'
                            }
                        }]

                }); 
                

            },
            error : function(jqXHR, textStatus, errorThrown)
            {
                console.log('jqXHR:');
                console.log(jqXHR);
                console.log('textStatus:');
                console.log(textStatus);
                console.log('errorThrown:');
                console.log(errorThrown);
                alert(errorThrown);
            } 
        
        });
    }



        // change profile image
        $("#form_data").submit(function(e)
        {	 
                e.preventDefault();
                var formData = new FormData($(this)[0]);
                alert(formData);
                $.ajax({
                url: '/profile/image/' + $(this).attr('data-user_id'),
                type: "POST",
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) 
                {
                        if(response.length > 0)
                        {
                                for(var i= 0; i< response.length; i++)
                                {
                                        var imagepath = response[i].user_profile_pic
                                        $('#profile_image').attr('src', "../public/profile_image/"+imagepath);
                                }
                        }
                },
                error : function(jqXHR, textStatus, errorThrown)
                {
                                                console.log('jqXHR:');
                                                console.log(jqXHR);
                                                console.log('textStatus:');
                                                console.log(textStatus);
                                                console.log('errorThrown:');
                                                console.log(errorThrown);
                                                alert(errorThrown);
                } 
                });
                return false;
        });



});

        //updating user data .....
        var $hide_about_me = $('.hide-about-me') 
        var $save_user_data_btn = $('.save-user-data-btn'); 
        var $show_data = $('.collapse');              
        $('.about-me').on('click', function(events)
        {
                $hide_about_me.hide(400);
                //alert($("#user_full_name").html())
                $('input.fullname').val($("#user_full_name").html());
                $('input.profession').val($("#user_profession").html());
                $('.cancel-edit-btn').on('click', function(events)
                {
                        $hide_about_me.show(400);
                })
                $save_user_data_btn.on('click',function(events)
                {
                        var user_id = $(this).attr('data-user_id')
                        //alert(user_id);
                        var fullname = $('input.fullname').val()
                        var data = {
                                        name: fullname
                        }
                        //alert(fullname)
                        $.ajax(
                                {
                                       type: 'PUT',
                                       url: '/profile/updatauserdata/' + $(this).attr('data-user_id'),
                                       contentType: "application/json",
                                       data: JSON.stringify(data),
                                       success: function(user)
                                       {
                                       
                                         user.forEach(function(item, index)
                                        {
                                                //alert(item.user_lastname)
                                                $show_data.html(item.user_lastname)
                                        })
                                            
                                               
                                               
                                       },
                                       error: function(jqXHR, textStatus, errorThrown)
                                       {
                                                console.log('jqXHR:');
                                                console.log(jqXHR);
                                                console.log('textStatus:');
                                                console.log(textStatus);
                                                console.log('errorThrown:');
                                                console.log(errorThrown);
                                                alert(errorThrown);
                                       } 
                                }
                        )
                }) 
                

       })

</script>