<br /> <br /> <br /> <br /> <br /> <br />
<%- include('partials/includes/header') %>
<%- include('partials/includes/navbar') %>

<%- include('components/chat_side_bar') %>
<div class="container-fluid">
        <div class="row">
                <div class="col-1" style="margin-right:55px">
                                <div class="drawer drawer-left slide" style="margin-top:97px" id="leftCol">
                                                <div class="drawer-content drawer-content-scrollable">
                                                   
                                                    <div class="drawer-body">
                                                        <div class="row">
                                                                <% if(items.length > 0){%>
                                                                        <% for(var i = 0, len = items.length; i < len; i++){%>
                                                                        <div class="card" style="width: 18rem">
                                                                                        <ul class="nav">
                                                                                                <li class="text-center"> 
                                                                                                        <div class="card-body"> 
                                                                                                        <img class="card-img" src="https://qpr2l7.pixelcrush.io/large/static1.chamonet.com%2Fimage_uploader%2Fphotos%2Fe5%2Flarge%2Falmost-time-to-put-away-the-skis-in-chamonix-chamonix-mont-blanc-valley.jpg?auth=41e199f01371394397152a3446ee7ae48879da30" alt="Card image" style="width: 200px; height:200px">  
                                                                                                        <div class="card-img-overlay">
                                                                                                        <div class="text-center" style="margin-top:10%">
                                                                                                                <img class="card-img border border-light" src="../public/profile_image/<%=items[i].user_profile_pic %>" alt="Card image"  style="width:150px; height:150px;border-radius: 50%">
                                                                                                        </div>
                                                
                                                                                                        </div>
                                                                                                        </div>
                                                                                                
                                                                                                
                                                                                                </li>
                                                                                                <li class="text-center">
                                                                                                        <div class="card-body">
                                                                                                                <h5><%=items[i].user_firstname %> <%=items[i].user_lastname %> </h5>
                                                                                                                <hr>
                                                                                                                <div class="socail_media">
                                                                                                                        <i class="fab fa-facebook"></i><i class="fab fa-instagram" style="margin-left:10px"></i><i class="fab fa-twitter" style="margin-left:10px"></i><i class="fab fa-pinterest" style="margin-left:10px"></i><i class="fab fa-linkedin" style="margin-left:10px"></i>
                                                                                                                </div>
                                                                                                                <hr>
                                                                                                                <div class="row">
                                                                                                                                <div class="col-4">
                                                                                                                                                <small><span class="countFollowers" style="cursor: pointer"></span></small><br />Followers
                                                                                                                                                
                                                                                                                                </div>
                                                                                                                                <div class="col-4">
                                                                                                                                                <small><span class="countFollowing" style="cursor: pointer"></span></small><br />Following
                                                                                                                                </div>
                                                                                                                                <div class="col-4">
                                                                                                                                                <small>100k</small><br /><i class="far fa-eye"></i>
                                                                                                                                </div>
                                                                                                                                
                                                                                                                        </div>
                                                                                                                </div>
                                                                                                                
                                                                                                </li>
                                                                                                        
                                                                                                        
                                                                                               
                                                                                                        
                                                                                                
                                                                                        </ul>
                                                                                        
                                                                                           
                                                                                
                                                                                    
                                                                                </div> 
                                                                                <%}%>
                                                                                <%}else{%>
                                                                                        <span>Need To Fix This</span>
                                                                                <%}%>  
                                                                         
                                                
                                                        </div>
                                                        <div class="row">
                                                                        <%if(items.length > 0){%>
                                                                                <%for(var i = 0, len = items.length; i < len; i++){%>
                                                                                <div class="card" style="background:#ffffff;margin-top:30px;width: 18rem">
                                                                                                <div class="card about-user">
                                                                                                
                                                                                                
                                                                                        <div class="card-body">  
                                                                                                        <h4 class="card-title">Contact Me</h4>       
                                                                                                <div class="text-justify">
                                                                                                    <p class="card-text"><strong><i class="far fa-envelope"></i> </strong> <span class="m-l-15"><%=items[i].user_email %></span></p>
                                                                                                    <p class="card-text"><strong><i class="fas fa-link"></i> </strong><span class="m-l-15">www.facebook.com</span></p>
                                                                                                    <p class="card-text"><strong><i class="fas fa-comment-dots"></i> </strong><span class="m-l-15">Leave a message</span></p>
                                                                                                    <p class="card-text"><strong><i class="fas fa-map-marker-alt"></i> </strong> <span class="m-l-15">India,Maharashtra Mumbai</span></p>
                                                                                                </div>			
                                                                                                          
                                                                                        </div>
                                                                                </div>	                        
                                                                                </div>
                                                                                <%}%>
                                                                        <%}else{%>
                                                                                
                                                                        <%}%>
                                                                </div>
                                                                <div class="row">
                                                                                <div class="card" style="background:#ffffff;margin-top:30px;width: 18rem">
                                                                                                <div class="card about-user">
                                                                                                         <div class="card-body">
                                                                                                          <div class="card-block">
                                                                                                               <h4 class="card-title info">About Me</h4>
                                                                                                               
                                                                                                               <p class="card-text">Life is too short. Don't waste it reading my status, come on follow me
                                                                                                                dsahfh disahfo dsa hdosaf dhfayew wry98f kdhsaywer hdshfewr bklmzxbe hd98fwmk dhofg knoas fhw
                                                                                                                asfoh awFKO SDFHHHHHHHHHHHHHHAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
                                                                                                                DAFOEH       
                                                                                                                .</p>
                                                                                                                           
                                                                                                          </div>
                                                                                                         </div>
                                                                                                </div>	                        
                                                                                </div>
                                                                </div>
                                                                <div class="drawer-footer">Drawer footer</div>

                                                      
                                                    </div>
                                                    
                                                    
                                                </div>
                                              </div>  
                                        
                </div>
<div class="container">
                        <div class="col-11">
                        
                                <div class="card">
                                                <div class="card" id="heap_map_chart"></div>
                                                
                                                <div class="card">
                                                        
                                                                <ul class="nav justify-content-center">
                                                                                <li class="nav-item" style="margin: 5px">
                                                                                        <div class="card">
                                                                                                <div class="card-body">
                                                                                                                <span class="total_upcoming_event_count"></span>
                                                                                                                <small class="padding:10px">Upcoming</small>            
                                                                                                </div>
                                                                                        </div>
                                                                                
                                                                               
                                                                                </li>
                                                                                <li class="nav-item" style="margin: 5px">
                                                                                                <div class="card">
                                                                                                                <div class="card-body">
                                                                                                                                <span class="total_active_event_count"></span>
                                                                                                                                <small class="padding:10px">Active</small>            
                                                                                                                </div>
                                                                                                        </div> 
                                                                                </li>
                                                                                <li class="nav-item" style="margin: 5px">
                                                                                                <div class="card">
                                                                                                                <div class="card-body">
                                                                                                                                <span class="total_past_event_count"></span>
                                                                                                                                <small class="padding:10px">Previous</small>            
                                                                                                                </div>
                                                                                                        </div>     
                                                                                </li>
                                                                                <li class="nav-item" style="margin: 5px">
                                                                                                <div class="card">
                                                                                                                <div class="card-body">
                                                                                                                                <span class="total_total_event_count"></span>
                                                                                                                                <small class="padding:10px">Total Events</small>            
                                                                                                                </div>
                                                                                                </div>
                                                                                </li>
                                                                               
                                                                               
                                                                              
                                                                              </ul>
                                                        
                                                </div>
                                                 
                                </div>

                                <div class="card" style="margin-top:30px">
                                                <div class="card-body">
                                                
                                                <% if(items.length > 0){%>
                                                   <% for( var i = 0, len = items.length; i < len; i++){%>
                                                        <% if (items[i].user_profile_pic)
                                                        { %>
                                                                <a href=""><img src="../public/profile_image/<%= items[i].user_profile_pic %>" alt="" class="rounded-circle border border-danger" style="width:50px; height:50px"></a>
                                                                
                                                        <%} else 
                                                        {%>
                                                                <a href=""><img src="../public/image/1.jpg" alt="" class="rounded-circle border border-danger" style="width:50px; height:50px"></a>
                                                        <%}%>  
                                                        <a href="event"><button class="btn btn-light" style="position: absolute;right:150px;">Create Event</button></a>
                                                        <a href="#"><button class="btn btn-dark" style="position: absolute;right:5px;">Create Video</button></a>   
                                                   <%}%>     
                                                <%}%>

                                   
                                                
                                                
            
                  
                                                </div>
                                </div>

                               
                                

                                <!-- Live Events -->
                                <hr>
                                <h5 class="font-weight-normal" style="margin-top:30px"><span class="total_active_event_count" style="padding:10px"></span>LIVE EVENTS</h5>
                                <hr>
                                <div class="row">
                                <% if(items.length > 0){ %> 
                                <% for(var i = 0, len = items.length; i < len; i++){%>
                                <% var post_data = items[i].Posts; %> 
                                <% for (var j = 0, len_1 = post_data.length; j < len_1; j++) {%> 
                                <% if(post_data[j].event_start_date == onlyDate){%>
                                <div class="col-4" style="margin-bottom:30px">
                                        <div class="card text-white">
                                                <img class="card-img" src="../public/image/<%=post_data[j].e_imagepath %>" alt="Card image" style="width:300px;height:200px">
                                                        <div class="card-img-overlay">
                                                                <h5 class="card-title"><%= post_data[j].event_message %></h5>
                                                        </div>
                                        </div>
                                </div>
                                <%}%>
                                <%}%> 
                                <%}%> 
                                <%}else{%>
                                <%}%>
                                </div>

                                <!-- upcoming Events-->
                                <hr>
                                <h5 class="font-weight-normal" style="margin-top:30px"><span class="total_upcoming_event_count" style="padding: 10px"></span>UPCOMING EVENTS</h5>
                                <hr>
                                <div class="row">
                                <% if(items.length > 0){ %> 
                                <% for(var i = 0, len = items.length; i < len; i++){%>
                                <% var post_data = items[i].Posts; %> 
                                <% for (var j = 0, len_1 = post_data.length; j < len_1; j++) {%> 
                                <% if(post_data[j].event_start_date > onlyDate){%>
                                <div class="col-4" style="margin-bottom:30px">
                                        <div class="card text-white">
                                                <img class="card-img" src="../public/image/<%=post_data[j].e_imagepath %>" alt="Card image" style="width:300px;height:200px">
                                                        <div class="card-img-overlay">
                                                                <h5 class="card-title"><%= post_data[j].event_message %></h5>
                                                        </div>
                                        </div>
                                </div>
                                <%}%>
                                <%}%> 
                                <%}%> 
                                <%}else{%>
                                <%}%>
                                </div>

                                <!--Privious Events-->

                                <hr>
                                <h5 class="font-weight-normal" style="margin-top:30px"><span class="total_past_event_count" style="padding: 10px"></span>PREVIOUS EVENTS</h5>
                                <hr>
                                <div class="row">
                                <% if(items.length > 0){ %> 
                                <% for(var i = 0, len = items.length; i < len; i++){%>
                                <% var post_data = items[i].Posts; %> 
                                <% for (var j = 0, len_1 = post_data.length; j < len_1; j++) {%> 
                                <% if(post_data[j].event_start_date < onlyDate){%>
                                <div class="col-6" style="margin-bottom:30px">
                                        <div class="card">
                                                <div class="row">
                                                        <div class="col-4">
                                                        <img class="card-img" src="../public/image/<%=post_data[j].e_imagepath %>" alt="Card image" style="width:150px;height:100px">
                                                        </div>
                                                        <div class="col-8">
                                                                
                                                                        <h5 class="font-weight-bold" style="margin: 10px"><%= post_data[j].event_message %></h5>
                                                                        
                                                                        <small style="margin: 10px"><a href="http://maps.google.com/?q=<%= post_data[j].event_latitude %>,<%= post_data[j].event_logitude %>"><i class="fas fa-map-marker-alt"></i> Map</a></small>
                                                                        <small style="padding-left:10px" id="show_location"></small>
                                                                        <small style="margin: 10px"><i class="far fa-calendar-alt"></i> <%= post_data[j].event_start_date %> </small>
                                                                        
                                                                        <ul class="nav" style="margin: 10px">
                                                                                        <li class="nav-item">
                                                                                                <i class="fas fa-thumbs-up" style="cursor: pointer;"><span style="padding:2px"><%= post_data[j].Likes.length %></span></i>
                                                                                        </li>
                                                                        
                                                                                        <li class="nav-item" style="padding-left: 10px">
                                                                                                <i class="fas fa-comments" style="cursor: pointer;"><span style="padding:2px"><%= post_data[j].Comments.length %></span></i>
                                                                                        </li>

                                                                                        
                                                                        </ul>
                                                                
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                                <%}%>
                                <%}%> 
                                <%}%> 
                                <%}else{%>
                                <%}%>
                                </div>
                                

                                


                </div>
</div>
        </div>
</div>

<%- include('partials/includes/footer') %>