<%- include('partials/includes/header') %>
<%- include('partials/includes/navbar') %>
<br /> <br /> <br /> <br /> <br />
<div class="container">
        
       
                <%- include('components/chat_side_bar') %>
        <div class="row">
                <div class="col-3">
                                <div class="row">
                                                <div class="card">
                                                                <ul class="nav">
                                                                        <li class="card-body">    
                                                                                <div class="row">  
                                                                                <img  src="../public/image/9b48e-lt.jpg" alt="Card image cap" class="img-fluid rounded" style="height: 200px;">    
                                                                               
                                                                                <h5 class="card-title">Sonu Shahuji</h5>
                                                                                <p class="card-text">This is a wider card with supporting text below as a.</p>
                                                                                
                                                                        </div>
                                                                        </li>
                                                                        
                                                                        
                                                                </ul>
                                                        
                                                                   
                                                        
                                                            
                                                </div>   
                                                <div class="row"style="margin-left:1px; margin-top:20px">
                                                                <div class="card text-center" style="padding:10px">
                                                                                <div class="card-title bg-transparent">Followers 10K</div>
                                                                </div>
                                                                <div class="card text-center" style="padding:10px;margin-left:3px">
                                                                                <div class="card-title bg-transparent">Following 110K</div>   
                                                                </div>
                                                               
                                                        </div>     

                                </div>
                                <div class="row">
                                                <div class="card" style="background:#ffffff;margin-top:30px">
                                                                <div class="card about-user">
                                                                         <div class="card-body">
                                                                          <div class="card-block">
                                                                               <h4 class="card-title info">About</h4>
                                                                               <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                                                                   <div class="text-left">
                                                                    <p class="card-text"><strong>Full Name :</strong> <span class="m-l-15">Amanda Taylor</span></p>
                                                                    <p class="card-text"><strong>Mobile :</strong><span class="m-l-15">(+12) 334 5555 723</span></p>
                                                                    <p class="card-text"><strong>Website :</strong> <span class="m-l-15">www.themashabrand.com</span></p>
                                                                    <p class="card-text"><strong>Location :</strong> <span class="m-l-15">USA</span></p>
                                                                   </div>			
                                                                          </div>
                                                                         </div>
                                                                </div>	                        
                                                </div>
                                </div>
                        

                </div>

                <div class="col-9" >
                                
                            
                                       <!-- chart section -->

                                                <div class="card">
                                                                <div class="card" id="heap_map_chart"></div>
                                                                
                                                                <div class="card">
                                                                        <div class="card-body">
                                                                                <ul class="nav justify-content-center">
                                                                                                <li class="nav-item">
                                                                                                <a class="nav-link" href="#">Upcoming</a>
                                                                                                </li>
                                                                                                <li class="nav-item">
                                                                                                  <a class="nav-link" href="#">Activ</a>
                                                                                                </li>
                                                                                                <li class="nav-item">
                                                                                                  <a class="nav-link" href="#">Previous</a>
                                                                                                </li>
                                                                                                <li class="nav-item">
                                                                                                                <a class="nav-link" href="#">Total Events</a>
                                                                                                </li>
                                                                                                <li class="nav-item">
                                                                                                <a class="nav-link" href="#">Followers</a>
                                                                                                </li>
                                                                                                <li class="nav-item">
                                                                                                  <a class="nav-link" href="#">Following</a>
                                                                                                </li>
                                                                                                <li class="nav-item">
                                                                                                  <a class="nav-link" href="#">Profile View</a>
                                                                                                </li>
                                                                                                <li class="nav-item">
                                                                                                  <a class="nav-link disabled" href="#">Disabled</a>
                                                                                                </li>
                                                                                              </ul>
                                                                        </div>
                                                                </div>
                                                                 
                                                </div>

                                                

                                                   <!-- create posts -->
                                                   <div class="card" style="margin-top:30px">
                                                                <div class="card-body">
                                        
                                                                <a href="#"><img src="../public/image/1.jpg" alt="" class="rounded-circle border border-danger" style="width:50px; height:50px"></a>
                                                   
                                                                <a href="#"><button class="btn btn-light" style="position: absolute;right:150px;">Create Event</button></a>
                                                                <a href="#"><button class="btn btn-dark" style="position: absolute;right:5px;">Create Video</button></a>
                                                                
                            
                                  
                                                                </div>
                                                        </div>
                               

                                                
                                        <div class="card" style="margin-top:30px">
                                                <% if(items.length > 0){ %>   
                                                        <% for(var i = 0, len = items.length; i < len; i++){%>
                                                        <% var post_data = items[i].Posts; %> 
                                                        <h5 class="card-title" style="margin-left:30px; margin-top:15px">100 Upcoming Events</h5>
                                                        <div class="card-group" style="margin: 15px">               
                                                                        
                                                        <% for (var j = 0, len_1 = post_data.length; j < len_1; j++) {%> 
                                                        
                                                        <% if(post_data[j].event_start_date > onlyDate){%>
                                                                <div class="col-4">
                                                                        <div class="card">
                                                                                
                                                       
                                                                                <img class="card-img-top" src="../public/image/<%=post_data[j].e_imagepath %>" alt="Card image cap" style="height: 300px">                                        
                                                                                <div class="card-footer bg-transparent border-success">
                                                                                <ul class="nav">
                                                                                        <li class="nav-item">
                                                                                                <i class="fas fa-thumbs-up" style="cursor: pointer;"><span style="padding:2px"><%= post_data[j].Likes.length %></span></i>
                                                                                        </li>
                                                                        
                                                                                        <li class="nav-item" style="padding-left: 10px">
                                                                                                <i class="fas fa-comments" style="cursor: pointer;"><span style="padding:2px"><%= post_data[j].Comments.length %></span></i>
                                                                                        </li>
                                                                        
                                                                                        <li class="nav-item" style="padding-left: 10px">
                                                                                                <i class="fas fa-share" style="cursor: pointer;"></i>
                                                                                        </li>
                        
                                                                                        <li class="nav-item" style="padding-left: 10px">
                                                                                                <span style="cursor: pointer;">Read More</span>
                                                                                        </li>
        
                                                                                        <li class="nav-item" style="padding-left:20px">
                                                                                                <i class="fas fa-ellipsis-v" style="cursor: pointer;"></i>
                                                                                        </li>
                                                                                </ul>
                                                                                </div>
                                                                        </div>
                                                                </div>  
                                                               
                                                        <%}%> 
                                                        <%}%> 
                        
                                                        </div>
                                                        <%}%> 
                                                        <%} else {%>
                                                                <span>No Upcoming events yet</span>
                                                        <%}%>    
                                               </div>
                                              
                              

                                               <div class="card" style="margin-top:30px">
                                                <% if(items.length > 0){ %>   
                                                        <% for(var i = 0, len = items.length; i < len; i++){%>
                                                        <% var post_data = items[i].Posts; %> 
                                                        <h5 class="card-title" style="margin-left:30px; margin-top:15px">100 Upcoming Events</h5>
                                                        <div class="card-group" style="margin: 15px">               
                                                                        
                                                        <% for (var j = 0, len_1 = post_data.length; j < len_1; j++) {%> 
                                                        
                                                        <% if(post_data[j].event_start_date == onlyDate){%>
                                                                <div class="col-4">
                                                                        <div class="card">
                                                       
                                                                                <img class="card-img-top" src="../public/image/<%=post_data[j].e_imagepath %>" alt="Card image cap" style="height: 300px">                                        
                                                                                <div class="card-footer bg-transparent border-success">
                                                                                <ul class="nav">
                                                                                        <li class="nav-item">
                                                                                                <i class="fas fa-thumbs-up" style="cursor: pointer;"><span style="padding:2px"><%= post_data[j].Likes.length %></span></i>
                                                                                        </li>
                                                                        
                                                                                        <li class="nav-item" style="padding-left: 10px">
                                                                                                <i class="fas fa-comments" style="cursor: pointer;"><span style="padding:2px"><%= post_data[j].Comments.length %></span></i>
                                                                                        </li>
                                                                        
                                                                                        <li class="nav-item" style="padding-left: 10px">
                                                                                                <i class="fas fa-share" style="cursor: pointer;"></i>
                                                                                        </li>
                        
                                                                                        <li class="nav-item" style="padding-left: 10px">
                                                                                                <span style="cursor: pointer;">Read More</span>
                                                                                        </li>
        
                                                                                        <li class="nav-item" style="padding-left:20px">
                                                                                                <i class="fas fa-ellipsis-v" style="cursor: pointer;"></i>
                                                                                        </li>
                                                                                </ul>
                                                                                </div>
                                                                        </div>
                                                                </div>  
                                                               
                                                        <%}else{%>
                                                        <span>No active events</span>        
                                                        <%}%> 
                                                        
                                                        <%}%> 
                        
                                                        </div>
                                                        <%}%> 
                                                        <%} else {%>
                                                                <span>No Upcoming events yet</span>
                                                        <%}%>    
                                               </div>

                                               <div class="card" style="margin-top:30px">
                                                <% if(items.length > 0){ %>   
                                                        <% for(var i = 0, len = items.length; i < len; i++){%>
                                                        <% var post_data = items[i].Posts; %> 
                                                        <h5 class="card-title" style="margin-left:30px; margin-top:15px">100 Upcoming Events</h5>
                                                        <div class="card-group" style="margin: 15px">               
                                                                        
                                                        <% for (var j = 0, len_1 = post_data.length; j < len_1; j++) {%> 
                                                        
                                                        <% if(post_data[j].event_start_date < onlyDate){%>
                                                                <div class="col-4">
                                                                        <div class="card">
                                                       
                                                                                <img class="card-img-top" src="../public/image/<%=post_data[j].e_imagepath %>" alt="Card image cap" style="height: 300px">                                        
                                                                                <div class="card-footer bg-transparent border-success">
                                                                                <ul class="nav">
                                                                                        <li class="nav-item">
                                                                                                <i class="fas fa-thumbs-up" style="cursor: pointer;"><span style="padding:2px"><%= post_data[j].Likes.length %></span></i>
                                                                                        </li>
                                                                        
                                                                                        <li class="nav-item" style="padding-left: 10px">
                                                                                                <i class="fas fa-comments" style="cursor: pointer;"><span style="padding:2px"><%= post_data[j].Comments.length %></span></i>
                                                                                        </li>
                                                                        
                                                                                        <li class="nav-item" style="padding-left: 10px">
                                                                                                <i class="fas fa-share" style="cursor: pointer;"></i>
                                                                                        </li>
                        
                                                                                        <li class="nav-item" style="padding-left: 10px">
                                                                                                <span style="cursor: pointer;">Read More</span>
                                                                                        </li>
        
                                                                                        <li class="nav-item" style="padding-left:20px">
                                                                                                <i class="fas fa-ellipsis-v" style="cursor: pointer;"></i>
                                                                                        </li>
                                                                                </ul>
                                                                                </div>
                                                                        </div>
                                                                </div>  
                                                               
                                                        <%}%> 
                                                        <%}%> 
                        
                                                        </div>
                                                        <%}%> 
                                                        <%} else {%>
                                                                <span>No Upcoming events yet</span>
                                                        <%}%>    
                                               </div>

                                               
                        

                        
                                        
                        
                        
                </div>
                
        </div>

</div>


<script>

$(document).ready(function() 
{

    requestData(); // calling function on page load
    function requestData()
    {
        $.ajax(
        {
            url: '/profile/heap_map_data',
            type: 'GET',
            success: function(response) 
            {
    
                var chart_data = [];
                var data = 1;
                var dataExists;
                
                var k = 0;
                for(var i = 0, len = response.length; i < len; i++)
                {
                    date_value = response[i].event_start_date;
                    var d = new Date(date_value);   
                    var year = d.getFullYear();
                    var month = d.getMonth();
                    var day = d.getDay();
                    var actualDay = day -1;
                   // check 1st in chart data, weather data exists or not
                   // if exits then increatment by 1
                   // not then put 1
                    
                    chart_data.push([month,actualDay,data]);
                }
                //alert(chart_data[1]);
                console.log(chart_data[1]);
                console.log("chart_data ==",chart_data);
                

                Highcharts.chart('heap_map_chart', 
                {

                        chart: {
                            type: 'heatmap',
                            marginTop: 40,
                            marginBottom: 80,
                            plotBorderWidth: 1,
                            
                        },


                        title: {
                            text: 'Project Details'
                        },

                        xAxis: {
                            categories: ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']
                        },

                        yAxis: {
                            categories: ['Mon','Tue','Wed','Thur','Fri','Sat','Sun'],
                            title: null
                        },

                        

                        colorAxis: {
                            min: 0,
                            minColor: '#FFFFFF',
                            maxColor: Highcharts.getOptions().colors[0]
                        },

                        legend: {
                            align: 'right',
                            layout: 'vertical',
                            margin: 0,
                            verticalAlign: 'top',
                            y: 25,
                            symbolHeight: 280
                        },

                        tooltip: {
                            formatter: function () 
                            {
                                return  + this.point.value + ' <b> project was uploaded on ' + this.series.xAxis.categories[this.point.x] + ' date, 2019' + '<br /> click to view more' ;
                            }
                        },

                        plotOptions: 
                        {
                                series: 
                                {
                                    cursor: 'pointer',
                                    point: 
                                    {
                                        events: 
                                        {
                                            click: function () 
                                            {

                                                var year = 2019;
                                                var month = this.x;
                                                var y_axis_day = this.y;

                                                $.ajax(
                                                    {
                                                        url: '/profile/heap_map_event_details',
                                                        type: "POST",
                                                        data: {year:year,month:month},
                                                        success: function (response) 
                                                        {
                                                                
                                                                var $message_list= document.getElementById("moreInfo");
                                                                $message_list.innerHTML = '';
                                                                for(var i = 0, len = response.length; i < len; i++)
                                                                {

                                                                    var date = new Date(response[i].event_start_date);   
                                                                    var day = date.getDay();
                                                                    var actualDay = day -1;
                                                                    actualDay = Number(actualDay)
                                                                    
                                                                    if(y_axis_day == actualDay)
                                                                    {
                                                                        $message_list.innerHTML = $message_list.innerHTML + `<div class="card online_user" ><li class="list-group-item link-class" style="cursor: pointer;"> <div class="d-flex bd-highlight"> <div class="img_cont"><img src="../public/image/${response[i].e_imagepath}" class="rounded-circle user_img"><span class="online_icon offline"></span> </div><div class="user_info">${response[i].event_name}}<br/><small style="color:#F44336"><strong>${response[i].event_start_date} message</strong></small><br/><small>Last seen <small>${response[i].event_end_date}</small></small></div> </div> </li></div>`;
                                                                    }
                                                                    
                                                                    
                                                                   
                                                                    
                                                                }
                                                        },
                                                        error : function(jqXHR, textStatus, errorThrown)
                                                        {
                                                            console.log('jqXHR:');
                                                            console.log(jqXHR);
                                                            console.log('textStatus:');
                                                            console.log(textStatus);
                                                            console.log('errorThrown:');
                                                            console.log(errorThrown);
                                                            alert(errorThrown);                            
                                                        } 
                                                    });

                                            }
                                        }
                                    }
                                }
                            },

                        series: [
                            {

                            data: chart_data,
                            borderWidth: 1,
                           
                            dataLabels: {
                                enabled: true,
                                color: '#000000'
                            }
                        }]

                }); 
                

            },
            error : function(jqXHR, textStatus, errorThrown)
            {
                console.log('jqXHR:');
                console.log(jqXHR);
                console.log('textStatus:');
                console.log(textStatus);
                console.log('errorThrown:');
                console.log(errorThrown);
                alert(errorThrown);
            } 
        
        });
    }



        // change profile image
        $("#form_data").submit(function(e)
        {	 
                e.preventDefault();
                var formData = new FormData($(this)[0]);
                alert(formData);
                $.ajax({
                url: '/profile/image/' + $(this).attr('data-user_id'),
                type: "POST",
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) 
                {
                        if(response.length > 0)
                        {
                                for(var i= 0; i< response.length; i++)
                                {
                                        var imagepath = response[i].user_profile_pic
                                        $('#profile_image').attr('src', "../public/profile_image/"+imagepath);
                                }
                        }
                },
                error : function(jqXHR, textStatus, errorThrown)
                {
                                                console.log('jqXHR:');
                                                console.log(jqXHR);
                                                console.log('textStatus:');
                                                console.log(textStatus);
                                                console.log('errorThrown:');
                                                console.log(errorThrown);
                                                alert(errorThrown);
                } 
                });
                return false;
        });



});

        //updating user data .....
        var $hide_about_me = $('.hide-about-me') 
        var $save_user_data_btn = $('.save-user-data-btn'); 
        var $show_data = $('.collapse');              
        $('.about-me').on('click', function(events)
        {
                $hide_about_me.hide(400);
                //alert($("#user_full_name").html())
                $('input.fullname').val($("#user_full_name").html());
                $('input.profession').val($("#user_profession").html());
                $('.cancel-edit-btn').on('click', function(events)
                {
                        $hide_about_me.show(400);
                })
                $save_user_data_btn.on('click',function(events)
                {
                        var user_id = $(this).attr('data-user_id')
                        //alert(user_id);
                        var fullname = $('input.fullname').val()
                        var data = {
                                        name: fullname
                        }
                        //alert(fullname)
                        $.ajax(
                                {
                                       type: 'PUT',
                                       url: '/profile/updatauserdata/' + $(this).attr('data-user_id'),
                                       contentType: "application/json",
                                       data: JSON.stringify(data),
                                       success: function(user)
                                       {
                                       
                                         user.forEach(function(item, index)
                                        {
                                                //alert(item.user_lastname)
                                                $show_data.html(item.user_lastname)
                                        })
                                            
                                               
                                               
                                       },
                                       error: function(jqXHR, textStatus, errorThrown)
                                       {
                                                console.log('jqXHR:');
                                                console.log(jqXHR);
                                                console.log('textStatus:');
                                                console.log(textStatus);
                                                console.log('errorThrown:');
                                                console.log(errorThrown);
                                                alert(errorThrown);
                                       } 
                                }
                        )
                }) 
                

       })

</script>